.DS_Store
.env
package-lock.json
./.vscode
/node_modules
system
assets/dist
application/cache
application/config
application/logs
application/third_party
application/vendor
application/core/MY_Controller.php
application/composer.lock
/docs
backup