
  /* Calendar */
  /* .flatpickr-day.flatpickr-disabled,
  .flatpickr-day.flatpickr-disabled:hover {
    @apply cursor-not-allowed! text-gray-400!;
  } */

  .flatpickr-calendar {
      /*@apply bg-base-100 p-5 w-auto !shadow-sm !border !border-solid !border-gray-300 !rounded-lg; */
      --tw-shadow: 0 1px 3px 0 var(--tw-shadow-color, rgb(0 0 0 / 0.1)), 0 1px 2px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1)) !important;
    background-color: var(--color-base-100)  !important;
    /* padding: 1.25rem; 1.25rem = 20px */
    width: auto;
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow) !important;
    /* box-shadow: var(--box-shadow-sm) !important; */
    border-color: var(--color-gray-300) !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-radius: 0.5rem !important;
    /* border: 1px solid var(--base-300) !important; */
  }
  .flatpickr-monthDropdown-months,
  .numInputWrapper > input,
  .flatpickr-weekday {
    /* @apply !text-gray-400; */
    color: var(--color-gray-400) /* var(--color-gray-400) */ !important;
  }

  .flatpickr-day {
    /* margin-bottom: 0.25rem; */
    /* @apply !rounded-none !max-w-none; */
    max-width: none !important;
    border-radius: 0 !important;
  }

  .flatpickr-day.selected,
  .flatpickr-day.startRange,
  .flatpickr-day.endRange,
  .flatpickr-day.selected.inRange,
  .flatpickr-day.startRange.inRange,
  .flatpickr-day.endRange.inRange,
  .flatpickr-day.selected:focus,
  .flatpickr-day.startRange:focus,
  .flatpickr-day.endRange:focus,
  .flatpickr-day.selected:hover,
  .flatpickr-day.startRange:hover,
  .flatpickr-day.endRange:hover,
  .flatpickr-day.selected.prevMonthDay,
  .flatpickr-day.startRange.prevMonthDay,
  .flatpickr-day.endRange.prevMonthDay,
  .flatpickr-day.selected.nextMonthDay,
  .flatpickr-day.startRange.nextMonthDay,
  .flatpickr-day.endRange.nextMonthDay {
    /* @apply !text-black !border-primary bg-primary; */
    color: #000 !important;
    border-color: var(--color-primary)  !important;
    background-color: var(--color-primary) ;
  }
  .flatpickr-day.startRange {
    border-radius: 50px 0 0 50px !important;
  }
  .flatpickr-day.endRange {
    border-radius: 0 50px 50px 0 !important;
  }

  .flatpickr-day.selected {
    /* @apply !bg-primary !text-white; */
    background-color: var(--color-primary)  !important;
    color: #fff !important;
  }

  .day-off:not(.selected) {
    /* @apply !bg-red-500 !text-white !pointer-events-none !opacity-50; */
    background-color: var(--color-red-500)!important;
    color: #fff !important;
    pointer-events: none !important;
    opacity: 0.5 !important;
  }

  .flatpickr-prev-month > svg,
  .flatpickr-next-month > svg {
    /* @apply fill-gray-400; */
    fill: var(--color-gray-400);
  }