
  /* Select2 */
  /* .select2-container {
        @apply select;
    } */
  .select2-container--default .select2-selection--single {
    @apply !input !w-full !flex !items-center;
  }
  .select2-container--default .select2-selection--multiple {
    @apply !input !w-full !flex !items-center !h-auto !min-h-12;
  }

  .select2-sm + .select2-container--default .select2-selection--single {
    @apply !input-sm;
  }
  .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    @apply !h-full;
    /* @apply !h-full !mr-2; */
  }
  .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: inherit !important;
    padding: 0 !important;
  }
  .select2-dropdown {
    @apply bg-base-100;
  }
  .select2-results__options li {
    font-size: 0.875rem !important;
    min-height: 1.75rem !important;
  }
  .select2-container.select-error {
    border-style: solid;
    border-width: 0.05rem;
    border-radius: 0.5rem;
    border-color: var(--color-error) !important;
  }

  .select2-container--open {
    z-index: 9999 !important;
  }

  .select2-container--disabled .select2-selection {
    @apply !bg-gray-200 !cursor-not-allowed;
  }

  .select2-selection__clear {
    margin-right: 0 !important;
  }

  .select2-selection__arrow {
    margin-left: 10px !important;
  }